<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jzx.book.bookkeeping">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:name=".App"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--联系人-->
        <activity android:name=".ui.activity.ContactActivity"/>
        <!--交易流向-->
        <activity android:name=".ui.activity.PayTypeActivity"/>
        <!--交易方式-->
        <activity android:name=".ui.activity.PayWayActivity"/>
        <!--交易流水-->
        <activity android:name=".ui.activity.FlowActivity"/>
        <!--添加交易流水-->
        <activity android:name=".ui.activity.AddFlowActivity"
            android:windowSoftInputMode="adjustPan"/>
    </application>

</manifest>